
                                            
# ----------------------------------------- 
# Remote Access Configuration               
# ----------------------------------------- 
pushd ras

set authmode mode = standard
delete authtype type = PAP
delete authtype type = MD5CHAP
delete authtype type = MSCHAPv2
delete authtype type = EAP
delete authtype type = CERT
add authtype type = MSCHAPv2
add authtype type = EAP
delete link type = SWC
delete link type = LCP
add link type = SWC
add link type = LCP
delete multilink type = MULTI
add multilink type = MULTI
set conf confstate = enabled
set type ipv4rtrtype = lanonly ipv6rtrtype = none rastype = none
set wanports device = "WAN Miniport (SSTP)" rasinonly = disabled ddinout = enabled ddoutonly = disabled maxports = 2 
set wanports device = "WAN Miniport (IKEv2)" rasinonly = disabled ddinout = enabled ddoutonly = disabled maxports = 2 
set wanports device = "WAN Miniport (L2TP)" rasinonly = disabled ddinout = enabled ddoutonly = disabled maxports = 2 
set wanports device = "WAN Miniport (PPTP)" rasinonly = disabled ddinout = enabled ddoutonly = disabled maxports = 2 
set wanports device = "WAN Miniport (PPPOE)" ddoutonly = enabled
set wanports device = "WAN Miniport (GRE)" rasinonly = disabled ddinout = enabled ddoutonly = disabled maxports = 2 

set user name = Administrator dialin = policy cbpolicy = none 
set user name = DefaultAccount dialin = policy cbpolicy = none 
set user name = Guest dialin = policy cbpolicy = none 
set user name = WDAGUtilityAccount dialin = policy cbpolicy = none 

set ikev2connection idletimeout = 5 nwoutagetime = 30
set ikev2saexpiry saexpirytime = 60 sadatasizelimit = 32767

popd

# End of Remote Access configuration.        
                                             
                                             

                                            
# ----------------------------------------- 
# Remote Access Diagnostics Configuration   
# ----------------------------------------- 
pushd ras diagnostics

set rastracing component = * state = disabled

set modemtracing state = disabled

set cmtracing state = disabled

set securityeventlog state = disabled

set loglevel events = warn


popd

# End of Remote Access Diagnostics Configuration.
                                                 
                                                 

                                            
# ----------------------------------------- 
# Remote Access IP Configuration            
# ----------------------------------------- 
pushd ras ip

delete pool

set negotiation mode = allow
set access mode = all
set addrreq mode = deny
set broadcastnameresolution mode = enabled
set addrassign method = auto
set preferredadapter 

popd

# End of Remote Access IP configuration.     
                                             

                                            
# ----------------------------------------- 
# Remote Access IPv6 Configuration          
# ----------------------------------------- 
pushd ras ipv6



set negotiation mode = deny
set access mode = all
set routeradvertise mode = enabled

popd

# End of Remote Access IPv6 configuration.   
                                             

                                            
# ----------------------------------------- 
# Remote Access AAAA Configuration          
# ----------------------------------------- 
pushd ras aaaa

set authentication provider = windows
set accounting provider = windows

delete authserver name = *
delete acctserver name = *



popd

# End of Remote Access AAAA configuration.     
                                               
                                               

