                                      
                                               
# ----------------------------------
# NAT configuration
# ----------------------------------
pushd routing ip nat
uninstall
install


#
#NAT Configuration For Interface Private Network
#
add interface name="Ethernet" mode=PRIVATE

#
#NAT Configuration For Interface Public Interface
#
add interface name="Ethernet 2" mode=FULL


#
#NAT Configuration For Interface Internal
#
add interface name="Internal" mode=PRIVATE
popd
